*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    position: fixed;
    min-width: 450px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background: #f1f1f1;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #3b3b3b;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    background-color: lightslategrey;
    height: 2px;
    transform: scale(0);
    transition: transform 0.3s ease-out;
}

nav a:hover::after {
    transform: scale(1);
    /* width: 100%; */
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2 {
    font-size: calc(60px + 1vmin);
    margin-bottom: calc(50px + 10vw);
}

section:nth-of-type(1) {background: salmon;}
section:nth-of-type(2) {background: royalblue;}
section:nth-of-type(3) {background: crimson;}
section:nth-of-type(4) {background: lightgreen;}
section:nth-of-type(5) {background: orangered;}